# ===== OS =====
.DS_Store
Thumbs.db

# ===== Node =====
node_modules/
build/
dist/

# ===== Java =====
target/
*.class
*.log

# ===== Env =====
.env

# ===== IDE (VERY IMPORTANT) =====
.metadata/
.vscode/
.idea/
*.iml

# ===== Docker =====
*.pid
