version: "3.9"

services:
  backend:
    build: ./inventory_forecasting_backend
    container_name: backend
    restart: always
    ports:
      - "8080:8080"

  frontend:
    build: ./inventory-ui-pro
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:80"
